* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Lato", regular, sans-serif;
  color: white;
}

.header__wrapper {
  /*position: fixed;
  top: 0;
  left: 0;*/
  width: 100%;
  background: transparent;
  height: 217px;
  vertical-align: middle;
}
.header__container {
  max-width: 1280px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
}
.header__container-logo {
  display: flex;
  cursor: pointer;
}
.header__logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__logo-top {
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.header__menu {
  margin-left: 5%;
}
.header__menu-list {
  display: flex;
}
.header__menu-list > li {
  margin-right: 60px;
}
.header__menu-list > li.header__menu-list-last {
  margin: 0;
}
.header__menu-link {
  display: inline-block;
  height: 100%;
  color: white;
  line-height: 286%;
  /*&:active {
      transform: scale(1.2);
      color: rgba(213, 164, 57, 1);
  }*/
}
.header__linked-logo > img {
  cursor: pointer;
}

.header__menu-link:hover,
.header__linked-logo > a > img:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-out;
}

.content__wrapper {
  height: 100%;
  width: 100%;
  background: url("../images/content/Image-Header.jpg") 0 0 no-repeat;
  background-size: 100% 100%;
}
.content__container {
  max-width: 1200px;
  margin: 20px auto 80px;
  padding: 0 30px 44px;
}
.content__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 145%;
  margin-bottom: 50px;
}
.content__info {
  display: flex;
  justify-content: flex-start;
}
.content__text-right {
  margin-left: 89px;
  padding: 0 40px;
  width: 50%;
}
.content__text-right-text {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 100px;
}
.content__text-left {
  font-size: 24px;
  line-height: 139%;
  width: 50%;
}
.content__story-menu {
  display: flex;
  justify-content: space-between;
  width: 264px;
  font-weight: 700;
  font-size: 20px;
  line-height: 229%;
  margin-bottom: 7px;
}
.content__story-line {
  height: 1px;
  background-color: rgb(213, 164, 57);
  width: 264px;
}
.content__story-phone {
  display: flex;
  margin-top: 20px;
}
.content__story-phone-icon > a {
  display: inline-block;
  width: 55px;
  height: 55px;
  cursor: pointer;
  margin: 5px 12px 0 0;
  background: url("../images/content/circle.png") 0 0 no-repeat, url("../images/content/phone.png") 50% 40% no-repeat;
}
.content__story-phone-tel {
  display: flex;
  flex-direction: column;
}
.content__story-phone-tel-title {
  font-size: 20px;
  line-height: 25px;
}
.content__story-phone-tel-number {
  font-size: 35px;
  line-height: 40px;
}
.content__story-phone-tel-number > a {
  color: white;
}
.content__arrow {
  position: fixed;
  bottom: 90px;
  left: calc(50% - 20px);
}

.hands__wrapper {
  width: 100%;
  height: 100%;
  background: url("../images/content/Image-Hands.jpg") 0 0 no-repeat;
  background-size: 100% 100%;
}/*# sourceMappingURL=style.css.map */